.title {
  margin-top: 5%;
}

.categories {
  display: flex;
  overflow: auto;
}

.categories article {
  display: block;
  padding: 2%;
  background-color: gray;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 15%;
}

article a {
  text-decoration: none;
  color: black;
  background-color: gray;
}

footer {
  width: 99%;
  position: absolute;
  top: 93%;
  text-align: center;
  border-top: 1px solid black;
}

.titre--creations a {
  font-size: 1rem;
}