#chooser {
  margin-top: 5%;
  margin-left: 3%;
  width: 90%;
  text-align: center;
}

.categorie,
.theme,
.carte {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: no-repeat;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.categorie article,
.theme article{
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 3.5% 2%;
  background-color: gray;
}

.categorie article a,
.theme article a,
.carte article a {
  color: #000;
  background-color: gray;
  text-decoration: none;
}

.titre {
  text-align: center;
}

.titre--creations {
  margin-top: 5%;
  margin-left: 1%;
}

.titre--creations a {
  font-size: 1rem;
}