* {
  background-color: #F0F0F2;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

header nav {
  width: 70%;
}

header nav a {
  margin-left: 20%;
  text-decoration: none;
  color: #000;
}

header nav a:hover {
  color: blue;
}

header nav a img {
  width: 10%;
}

#profil {
  font-size: 2rem;
  cursor: pointer;
}

.funcprofil {
  position: absolute;
  width: 10%;
  display: block;
  left: 89%;
  top: 10%;
  border: 1px solid #000;
  text-align: center;
}

.funcprofil a {
  display: flex;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  height: 4vh;
  border-bottom: 1px solid #000;
  padding-top: 3%;
}

.notclicked {
  display: none;
}

.arrow-up {
  position: absolute;
  top: 9.5%;
  left: 98%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

main {
  min-height: 60vh;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}