main {
  text-align: center;
  align-items: center;
  margin-top: 20%;
  height: 30vh;
}

main h1 {
  padding-top: 4%;
}

main div {
  margin-top: 5%;
}

main div a {
  margin-right: 10%;
  margin-left: 10%;
}
