form {
  display: flex;
  margin-left: 35%;
  margin-top: 15%;
}

form select {
  margin-left: 25%;
  width: 40%;
  text-align: center;
}

input,
label,
textarea {
  display: block;
  margin-top: 5%;
  margin-left: 20%;
}

input {
  background-color: white;
}

fieldset {
  border-radius: 20%;
  width: 40%;
}

p {
  margin-left: 40%;
}

div {
  display: flex;
}

#annulation {
  color: #000;
  text-decoration: none;
  margin-top: 5%;
  margin-left: 3%;
}

.checkbox label {
  margin-left: 3%;
}

.checkbox input {
  accent-color: green;
}

textarea {
  resize: none;
}
