body {
  min-height: 100vh;
}

.theme {
  display: flex;
  border-bottom: 1px dashed #000;
}

.crud {
  width: 10%;
  margin-top: 0.5%;
  text-align: center;
}

.crud a {
  display: block;
  margin-top: 10%;
  width: 10%;
}

.crud .add {
  color: green;
}

.crud .update {
  color: blue;
}

.crud .delete {
  color: red;
}

.cartes {
  display: grid;
  margin-left: 3%;
  grid-template-columns: repeat(3, 1fr);
}

.cartes .flip-container {
  width: 50%;
  margin-top: 20%;
  height: 10rem;
  text-align: center;
}

.cartes .flip-container img {
  width: 80%;
}

.reviser {
  position: sticky;
  bottom: 10%;
  width: 30%;
  margin-left: 35%;
  text-align: center;
}

.reviser a {
  text-decoration: none;
}

.reviser a h1 {
  background-color: green;
  border-radius: 30px;
  padding: 2%;
  color: #000;
}

.flip-container {
  perspective: 1000px;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 300px;
  height: 10rem;
  align-items: center;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  background-color: gray;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}

.front p,
.back p {
  background-color: gray;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.back-CRUD {
  width: 100%;
  text-decoration: none;
  background-color: gray;
  align-items: center;
}

.back-CRUD a {
  background-color: gray;
  margin: 0 10%;
}

.back-CRUD a i{
  background-color: gray;
  color: #000;
}